h1 {
  color: lime;
  font-size: 60px;
}

#test1 {
  color: orange;
}

.class1 {
  color: cyan;
}

.class2 {
  font-size: 24px;
}

#test3 {
  background-color: black;
  padding: 10px;
}

button {
  color: lime;
  background-color: white;

  /* border-color: lime;
  border-width: 2px;
  border-style: solid; */

  border: 2px lime;
  border-style: solid;

  padding: 10px 15px 10px 15px;
  margin: 30px 5px;
}
